
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Images form data
SA_2Fases/data/*.png
SA_2Fases/data/*.csv
SA_2Fases2
SA_2Fases3
SA_2Fases4
SA_2Fases5
SA_2Fases6

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,c++